<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>

    <!--<behaviors>
      <serviceBehaviors>
        <behavior name="CompanyServiceBehaviors">
          <serviceDebug httpHelpPageEnabled="false" />
          <serviceMetadata httpGetEnabled="false" />
          <serviceTimeouts transactionTimeout="00:10:00"/>
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="httpbinding"   />
      </basicHttpBinding>
    </bindings>
    <services>
      <service  name="WCF.Service.CompanyService" behaviorConfiguration="CompanyServiceBehaviors">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1113/CompanyService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="httpbinding"   contract="WCF.IService.ICompanyService" />
        <endpoint address="mex" binding="mexHttpBinding"   contract="IMetadataExchange" />
      </service>
    </services>-->

    <!--tcp-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="CompanyServiceBehaviors">
          <serviceDebug httpHelpPageEnabled="false" />
          <serviceMetadata httpGetEnabled="false" />
          <serviceTimeouts transactionTimeout="00:10:00"/>
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000" />
        </behavior>

        <behavior name="DepartmentServiceBehaviors">
          <serviceDebug httpHelpPageEnabled="false" />
          <serviceMetadata httpGetEnabled="false" />
          <serviceTimeouts transactionTimeout="00:10:00"/>
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000" />
        </behavior>

        <behavior name="ProductServiceBehaviors">
          <serviceDebug httpHelpPageEnabled="false" />
          <serviceMetadata httpGetEnabled="false" />
          <serviceTimeouts transactionTimeout="00:10:00"/>
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000" />
        </behavior>


        <behavior name="UserServiceBehaviors">
          <serviceDebug httpHelpPageEnabled="false" />
          <serviceMetadata httpGetEnabled="false" />
          <serviceTimeouts transactionTimeout="00:10:00"/>
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000" />
        </behavior>

      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="tcpbinding">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="CompanyServiceBehaviors" name="WCF.Service.CompanyService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpbinding"
          contract="WCF.IService.ICompanyService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:1113/CompanyService" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="DepartmentServiceBehaviors" name="WCF.Service.DepartmentService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpbinding"
          contract="WCF.IService.IDepartmentService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:1113/DepartmentService" />
          </baseAddresses>
        </host>
      </service>
      
      
      <service behaviorConfiguration="ProductServiceBehaviors" name="WCF.Service.ProductService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpbinding"
          contract="WCF.IService.IProductService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:1113/ProductService" />
          </baseAddresses>
        </host>
      </service>
      
      
      <service behaviorConfiguration="UserServiceBehaviors" name="WCF.Service.UserService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpbinding"
          contract="WCF.IService.IUserService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:1113/UserService" />
          </baseAddresses>
        </host>
      </service>
    </services>

  </system.serviceModel>
</configuration>