<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IKmReviewWebserviceServiceServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://oa.yto.net.cn/sys/webservice/kmReviewWebserviceService"
                binding="basicHttpBinding" bindingConfiguration="IKmReviewWebserviceServiceServiceSoapBinding"
                contract="WCFSearchService.IKmReviewWebserviceService" name="IKmReviewWebserviceServicePort" />
        </client>
    </system.serviceModel>
</configuration>