@model PageResult<Caregory>
@{
    ViewBag.Title = "Contact";
}

<h2>
    
    @Model.TotalCount
    @Model.PageIndex
    @Model.PageSize
    @foreach (var CaregoryModel in @Model.DataList)
    {
         
    }
    Contact      a
    Contact
</h2>

